server:
  port: 8002

spring:
#  datasource:
#    username: link
#    password: goodluck
#    url: jdbc:mysql://117.72.41.106:3306/link?characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&serverTimezone=GMT%2B8
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    hikari:
#      connection-test-query: select 1
#      connection-timeout: 20000
#      idle-timeout: 300000
#      maximum-pool-size: 5
#      minimum-idle: 5
  datasource:
    # ShardingSphere 对 Driver 自定义，实现分库分表等隐藏逻辑
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    # ShardingSphere 配置文件路径
    url: jdbc:shardingsphere:classpath:shardingsphere-config-${databases.env:dev}.yaml
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: root

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: del_flag  # 设置逻辑删除字段
      logic-delete-value: 1        # 逻辑删除值（默认 1）
      logic-not-delete-value: 0    # 逻辑未删除值（默认 0）
